/* Local Font Definitions */
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Custom Properties */
:root {
  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);
  --clr-brown-800: hsl(14, 45%, 36%);
  --clr-rose-800: hsl(332, 51%, 32%);
  --clr-rose-50: hsl(330, 100%, 98%);

  /* Background Colors */
  --bg-page: var(--clr-stone-100);
  --bg-card: var(--clr-white);
  --bg-prep: var(--clr-rose-50);

  /* Text & Border Variables */
  --text-main: var(--clr-stone-600);
  --text-title: var(--clr-stone-900);
  --text-section-heading: var(--clr-brown-800);
  --text-prep-heading: var(--clr-rose-800);
  --text-table-data: var(--clr-brown-800);

  --border-divider: var(--clr-stone-150);
  --marker-bullet: var(--clr-brown-800);
  --marker-prep: var(--clr-rose-800);

  /* Typography */
  --ff-heading: "Young Serif", serif;
  --ff-body: "Outfit", sans-serif;
}

/* Base Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-body);
  color: var(--text-main);
  background-color: var(--bg-page);
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Card Container */
.recipe-card {
  background-color: var(--bg-card);
  max-width: 23.4375rem;
  margin-inline: auto;
}

.recipe-hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-content {
  padding-block: 2.5rem;
  padding-inline: 2rem;
}

/* Headings & Header Paragraph */
header h1 {
  font-family: var(--ff-heading);
  color: var(--text-title);
  font-size: 2.25rem;
  line-height: 1;
  margin-block-end: 1.5rem;
}

header p {
  margin-block-end: 2rem;
  letter-spacing: -0.015em;
  max-width: 19rem;
}

/* Preparation Box */
.prep-time {
  background-color: var(--bg-prep);
  padding-block: 1.5rem;
  padding-inline: 1.75rem;
  border-radius: 0.75rem;
  margin-block-end: 2rem;
}

.prep-time h2 {
  color: var(--text-prep-heading);
  font-size: 1.25rem;
  font-weight: 600;
  margin-block-end: 1rem;
}
